<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>ManagedUsersCleanup</string>
    <key>CFBundleIdentifier</key>
    <string>com.github.manageusers.gui</string>
    <key>CFBundleName</key>
    <string>Managed Users Cleanup</string>
    <key>CFBundleDisplayName</key>
    <string>Managed Users Cleanup</string>
    <key>CFBundleIconFile</key>
    <string>ManagedUsersCleanup</string>
    <key>CFBundleIconName</key>
    <string>ManagedUsersCleanup</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>{{MARKETING_VERSION}}</string>
    <key>CFBundleVersion</key>
    <string>{{BUILD_NUMBER}}</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <false/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSArchitecturePriority</key>
    <array>
        <string>arm64</string>
        <string>x86_64</string>
    </array>
</dict>
</plist>
